h1 {
    font-family: "GLight", "Noto Sans KR";
}

h2 {
    font-family: "GLight", "Noto Sans KR";
    font-size: 1.5rem;
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url("../resources/img/about_front.jpeg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    width: 100%;
    height: 100vh;
    color: white;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(7px);
    width: 80%;
    height: 70%;
    padding: 50px 0px;
    column-gap: 150px;
    row-gap: 30px;
    margin: 0;
}

.contact h1 {
    width: 100%;
    display: block;
    margin-bottom: 4rem;
}

.contact_item{
    text-align: center;
    line-height: 4rem;
}

.contact_item h3{
    margin: 10px 0px;
    padding: 0 10px;
}

.contact_item h3:hover{
    background: black;
    transition: .5s;
}
.contact_item a {
    color: white;
}

.button {
    border: 1px solid white;
}

@media only screen and (max-width: 652px){
    .contact {
        width: 100%;
        height:100%;
    }
}

@media only screen and (max-width: 850px){
    .contact {
        width: 100%;
    }
}